.card{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    min-height: 800px;
    box-shadow: 5px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.212);
}
.form-img{
    margin-top: 80px;
    width: 70%;
}
.image{
    background-color: rgb(38, 209, 201);
    max-width: 750px;
}
.formHeader{
    display: flex;
    align-items: center;
    gap: 400px;
    margin-top: 80px;
    margin-left: 9%;
}
.button{
    background-color: rgb(65, 182, 218) ;
    height: 45px;
    width: 90px;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: black;
}
.button:hover{
    background-color: white;
    color: black;
}
.inputs{
    margin-top: 70px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
}

.genderInputs{
    margin-left: 10%;
    margin-top: 80px;
}
.genderGroup{
    margin-top: 10px;
    display: flex;
    gap: 10%;
    margin-left: 8%;
}
.bigbutton{
    height: 80px;
    width: 600px;
    margin-left: 10%;
    background-color: rgb(65, 182, 218) ;
    color: white;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.bigbutton:hover{
    background-color: white;
    color: black;
}
@media (max-width: 416px) {
    .bigbutton {
        width: 100px;
        margin-bottom:1% ;
        margin-left: 25%;
        margin-top: 0;
    }
    .button{
        margin-left: -420%;
    }
     .card{
        min-width: 100%;
        min-height: 900px;
    }
    .genderGroup{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    .card{
        width: 400px;
    }

}
@media (max-width: 1777px) {
    .bigbutton{
        width: 100px;
        margin-left: 50%;
    }
    .button{
        margin: -100%;
    }

}
@media (max-width: 742px) {
    .bigbutton{
        width: 100px;
        margin-left: 23%;
        margin-top: 30px;
    }
    .button{
        margin: -400%;
    }
    .genderGroup{
        display: flex;
        flex-direction: column;
    }
}
.label1{
    display: flex;
}
.label2{
    display: flex;
}
.label3{
    display: flex;
}
.label4{
    display: flex;
}
.label5{
    display: flex;
}
.label6{
    display: flex;
}

